<div class="top">
   

  <div class="top-title">
  <h1>Maternity HealthCare</h1>

  <div class="down-contents">
    <div class='btn_2'>
    <%= link_to '新規登録', new_user_registration_path %>
    </div>
    <div class='btn_2'>
    <%= link_to 'ログイン', new_user_session_path %>
    </div>

    <div class="side-image">
      <%= image_tag '/mama.png', class:"mama-image", :size => '400x300' %>
    </div>
  </div>
</div>